<h1><%= @event.title %></h1>
<h2> <%= @event.location %> <%=  @event.start_time %></h2>
<h3>Hosted by <%= @event.host.username %></h3>
<p>
  <%= @event.body %>
  <%= render "event_attendees/rsvp" %>
</p>

<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to "Cancel Event", event_path(@event), method: :delete %>