<h1><%= @event.title %></h1>
<h2> <%= @event.location %> <%=  @event.start_time %></h2>
<h3>Hosted by <%= @event.host.username %></h3>
<p>
  <%= @event.body %>
  <br>
  <% if user_signed_in? %>
    <%= render "event_attendees/rsvp" %>
  <%else%>
    Register today to attend!
  <%end%>
</p>

<h3>Attendees</h3>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %>
<% end %><br>

<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to "Cancel Event", event_path(@event), method: :delete %>