<h1><%= @event.title %></h1>
<h2> <%= @event.location %> <%=  @event.start_time %></h2>
<h3>Hosted by <%= @event.host.username %></h3>
<p>
  <%= @event.body %>
  <br>
  <% if @event_attendee %>
    <% if @event_attendee.accepted == true %>
      <%= render "event_attendees/cancel" %>
    <% else %>
      <%= render "event_attendees/rsvp" %>
    <% end %>
  <%else%>
    Contact the host for an invite.
  <%end%>
</p>

<% if current_user&.id == @event.host_id %>
  <%= render "event_attendees/invite" %>
<% end %>

<h3>Attendees</h3>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %>
<% end %><br>
<% if @event.host_id == current_user.id %>
  <%= link_to "Edit", edit_event_path(@event) %>
  <%= link_to "Cancel Event", event_path(@event), method: :delete %>
<% end %>