<h2><%= @user.username%>'s page</h2>
<h3>Your Invited To</h3>
<% Event.user_invited(@user).each do |event| %>
      <h4><%= event.title%></h4>
      <h6><%= event.start_time%></h6>
      <%= link_to 'Event', event_path(event) %>
<% end %>
<h3>Hosted Events</h3>
<% @user.hosted_events.each do |event| %>
  <h4><%= event.title%></h4>
<% end %>
<br>
<h3><%= @user.username%> is going to:</h3>
<% @user.attended_events.future.each do |event| %>
  <h4><%= event.title%></h4>
  <h6><%= event.start_time%></h6>
  <%= link_to 'Event', event_path(event) %>
<%end%>

<h3><%= @user.username%> went to</h3>
<% @user.attended_events.past.each do |event| %>
  <h4><%= event.title%></h4>
  <h6><%= event.start_time%></h6>
  <%= link_to 'Event', event_path(event) %>
<%end%>